<a href="https://colab.research.google.com/github/AhammedKabeer434/data_1/blob/main/Codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input/Output

In [ ]:
# Question No. 1 and 2
a = input()
print(a)

2
2

In [ ]:
x=input()
y=input()
print(x)
print(y)

2
3
2
3

In [ ]:
# Question No. 4 and 6
a = input()
b = input()
c = input()

print(a)
print(b)
print(c)

5
6
8
5
6
8

In [ ]:
a = input()
b = input()
c = input()

print(a,b,c)

5
6
8
5 6 8

In [ ]:
# Question No. 7 and 10
a = input()

print(*a, sep=" ")

hello
h e l l o

In [ ]:
a, b, c = input().split()

print(a)
print(b)
print(c)

1 2 3
1
2
3

In [ ]:
x = input()

for a in x:

    print(a)

hello
h
e
l
l
o

# Absolute Beginner

In [ ]:
a=int(input())
b=int(input())

print(a*b)

2
3
6

In [ ]:
a=int(input())

if a%2==0:
    print("Even")
else:
    print("Odd")

2
Even

In [ ]:
a=int(input())
b=int(input())

print(a+b)

1
1
2

In [ ]:
import math

def area_of_eql_triangle():
  a=int(input())
  area_calculated = 1/4 * (math.sqrt(3)*a**2)
  return round(area_calculated,2)

area=area_of_eql_triangle()
print(area)

20
173.21

In [ ]:
a=float(input())
b=(a*1.8)+32
c=round(b,2) #round function is used to round-off the decimal values
print(c)

5.5
41.9

In [ ]:
a=int(input())

if a==0:
  print(0)
if a<0:
  print("Error")
if a>0:
  print(a*a)

5
25

In [ ]:
a=int(input())
b=(a*a*a)

print(b)

2
8

In [ ]:
a=int(input())

if a==0:
  print("Null")
for i in range(1 , a+1):
  if i<a:
   print(9*i , end=' ')
  else:
   print(9*i) #This statement ensures that there is no space after the last value

#The end=' ' argument in the print() function tells Python to print a space after each number instead of a newline character.

3
9 18 27

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

n = int(input())
result = factorial(n)
print(result)

5
120

In [ ]:
a = float(input())
b = float(input())
c = float(input())

if a > b and a > c:
  print(a)
elif b > a and b > c:
  print(b)
elif c > b and c > a:
  print(c)
else:
  print(0)

2
5
8
8.0

In [ ]:
a = int(input())

for i in range(1,a+1):
  print(i)

5
1
2
3
4
5

In [ ]:
a = int(input())
end_char = ' ' # Default to a space

for i in range(1, 4):
  if i == 3: # Check if this is the last iteration (since range is 1 to 3)
    end_char = '' # Set end to empty for the last number

  print(a * i, end=end_char)

2
2 4 6

In [ ]:
a = int(input())
b = a*1000
c = a*100000

print(b)
print(c)

20
20000
2000000

In [ ]:
import math

def circumference():
  a = float(input())

  if a > 0:
    return round (2*a*math.pi,2)
  else:
    return "Error"

result = circumference()
print(result)

2
12.57

In [ ]:
a = int(input())

for i in range(1,6):
  print(a)

5
5
5
5
5
5

In [ ]:
# prompt: Print the digits of the integer in a single line separated by space,

a = input()

print(*a, sep=" ")

# *a essentially treats each character in the string a as a separate argument

348
3 4 8

In [ ]:
a = int(input())

if a % 4==0:
  print('Y')
else:
  print('N')

2000
Y

In [ ]:
a = input()
rev_a = a [::-1]
print(rev_a)

GUVI
IVUG

In [ ]:
a = int(input())

for i in range(1,a+1):
  if i % 2 == 0:
    print(i)

6
2
4
6

10
1
2
3
4
5
6
7
8
9
10

In [ ]:
dict_1 = {'1':31 , '2':28 , '3':31 , '4':30 , '5':31 , '6':30 , '7':31 , '8':31 , '9':30 , '10':31 , '11':30 , '12':31}
print(dict_1.get(input()))

12
31

# Basics

In [ ]:
N = int(input())
L = int(input())
R = int(input())

if N >= L and N <= R:
  print("yes")
else:
  print("no")

In [ ]:
a = int(input())

for i in range(1,a+1):
  print(i)

5
1
2
3
4
5

In [ ]:
a = input()
num_a = a.split()
A = int(num_a[0])
B = int(num_a[1])

for i in range(B):
  print(A)

5 4
5
5
5
5